page-settings {
    ion-content{
        background-color: map-get($colors, primary) !important;

        ion-card{
            border-radius:map-get($card-styles, radius) !important;
            background-color: map-get($card-styles, background-color) !important;

            ion-card-content{
                padding:map-get($card-styles, card-padding) !important;
            }
        }
    }

}
